@import url("/media-queries.css")
(max-width: 900px);

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	text-decoration: none;
}

:root {
	--ff-sans: "DM Sans", sans-serif;
	--ff-serif: "DM Serif Text", serif;
	--c-dark: #353535;
	--c-primary: #569de4;
	--c-light: #fff;
	--c-light-200: #f9f9f9;
}

html {
	scroll-behavior: smooth;
}

::-webkit-scrollbar {
	width: 14px;
}

::-webkit-scrollbar-track {
	background: var(--c-light-200);
}

::-webkit-scrollbar-thumb {
	background: var(--c-primary);
	border-radius: 10px;
}

body {
	font-family: var(--ff-sans);
	color: var(--c-dark);
	background-color: var(--c-light-200);
	display: flex;
	flex-direction: column;
	align-items: center;
}

#presentation {
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 20px;
	margin-top: 20px;
}

#presentation > img {
	width: 440px;
	transform: rotate(-6deg);
}

#presentation > .text {
	width: 375px;
	text-align: left;
}

h1 {
	font-family: var(--ff-serif);
	font-weight: 500;
	font-size: 2rem;
	line-height: 0.8;
}

h1 > span {
	text-decoration: underline;
	font-style: italic;
}

#presentation p {
	font-size: 1rem;
	line-height: 1.2;
	margin-top: 12px;
}

.cta {
	display: flex;
	flex-direction: column;
	align-items: center;
	margin-top: 40px;
}

.cta > h2 {
	text-decoration: underline;
	font-style: italic;
	font-weight: 400;
	font-size: 2rem;
	margin-bottom: 20px;
}

.cta span {
	color: var(--c-primary);
}

.cta img {
	width: 30px;
	animation: toUp 5s linear 0s infinite normal forwards;
	margin-bottom: 80px;
}

@keyframes toUp {
	0%,
	100% {
		transform: translateY(0);
	}

	10%,
	30%,
	50%,
	70% {
		transform: translateY(-8px);
	}

	20%,
	40%,
	60% {
		transform: translateY(8px);
	}

	80% {
		transform: translateY(6.4px);
	}

	90% {
		transform: translateY(-6.4px);
	}
}

#projects {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	gap: 60px;
}

.project {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 25px;
}

.project a {
	color: var(--c-light);
	background-color: var(--c-primary);
	font-size: 0.75rem;
	text-transform: uppercase;
	text-align: center;
	border-radius: 30px;
	padding: 8px 28px;
}

.poster-art img {
	width: 195px;
	transform: rotate(-5deg);
}

.packaging-design img {
	width: 108px;
	transform: rotate(5deg);
}

.ux-ui img {
	width: 121px;
	transform: rotate(-2deg);
}

.social-media img {
	width: 290px;
	transform: rotate(-3deg);
}

.print-design img {
	width: 232px;
	transform: rotate(5deg);
}

.three-d-modeling img {
	width: 208px;
	transform: rotate(-8deg);
}

footer {
	margin: 100px 0px;
	display: flex;
	gap: 60px;
}

footer a {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 10px;
	transition: all 0.5s ease-in-out;
}

footer a:hover {
	opacity: 0.8;
	animation: toUp 5s linear 0s infinite normal forwards;
}

footer img {
	width: 80px;
}

footer span {
	font-size: 1.2rem;
	font-style: italic;
	color: var(--c-dark);
}
